{% extends 'base.html' %}
{% load static %}
{% block content %}

	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2>Login to your account</h2>
						<form method="POST">
                            {% csrf_token %}
							{% for message in messages %}
							<center><font color="red"> {{message}} </font> </center>
							{% endfor %}
							<input name="username" type="text" placeholder="User Name" required />
							<input name="password" type="password" placeholder="Password" required />
							<span>
								<input type="checkbox" class="checkbox">
								Keep me signed in
							</span>
							<button type="submit" class="btn btn-default">Login</button>
						</form>
					</div><!--/login form-->
				</div>
<!--				<div class="col-sm-1">-->
<!--					<h2 class="or">OR</h2>-->
<!--				</div>-->
<!--				<div class="col-sm-6">-->
<!--					<div class="signup-form">&lt;!&ndash;sign up form&ndash;&gt;-->
<!--						<h2>New User Signup!</h2>-->
<!--						<form method="POST">-->
<!--                            {% csrf_token %}-->
<!--							{% for message in messages %}-->
<!--							<center> <font color="red">{{message}}</font> </center>-->
<!--							{% endfor %}-->
<!--							First Name: <input name="first_name" type="text" placeholder="First Name" required/>-->
<!--							last Name: <input name="last_name" type="text" placeholder="Last Name" required/>-->
<!--							Username: <input name="username" type="text" placeholder="User Name" required/>-->
<!--							Email: <input name="email" type="email" placeholder="Email Address" required/>-->
<!--							Password: <input name="password" type="password" placeholder="Password" required/>-->
<!--                            Confirm Password: <input name="cpassword" type="password" placeholder="Retype Password" required/>-->
<!--							<button type="submit" class="btn btn-default">Signup</button>-->
<!--						</form>-->
<!--					</div>&lt;!&ndash;/sign up form&ndash;&gt;-->
<!--				</div>-->
			</div>
		</div>
	</section><!--/form-->


	{% endblock %}